__local_files/
__tests__/
.circleci/
.vscode/
coverage/
dist/**/*.{map,tsbuildinfo}
generator-scripts/
patches/
src/
tests/
codecov.yml
eslint.config.mjs
fix-es.js
remove-files.js
snapshotResolver.js
jest.config.js
TODO.md
tsconfig.json
tsconfig.es.json
