__local_files/
__tests__/
.circleci/
.vscode/
coverage/
dist/**/*.{map,tsbuildinfo}
generator-scripts/
src/
tests/
patches/
.eslintignore
.eslintrc.js
codecov.yml
jest.config.js
tsconfig.json
tsconfig.es.json
snapshotResolver.js
TODO.md
fix-es.js
remove-files.js
